/*Google Fonts*/
/*font-family: 'DM Sans', sans-serif;*/
/*Main*/
:root {
  --Color_Blue: #086cf9;
}
a {
  color: #2c1500;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}
.Padding_Value_1 {
  padding: 12px 24px;
}
.Padding_Value_2 {
  padding: 16px 30px;
}
.Blue_Button {
  background-color: var(--Color_Blue);
  border-radius: 4px;
}
/*Header*/
.Header_Inner {
  max-width: 1152px;
  max-height: 48px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.Header_First {
  padding: 8px 0px;
}
.Header_Buttons {
  max-width: 480px;
  margin: 12px 0px;
  display: flex;
}
.Header_Button {
  display: flex;
  margin-left: 40px;
}
.Header_Register {
  width: 200px;
  display: flex;
}
.Header_Link {
  margin: 12px 0px;
}
.Register_Button {
  margin-left: 48px;
  color: white;
}
/*Body*/
body {
  box-sizing: border-box;
}
.Body_Inner {
  background-image: url(/img/Main.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 32px;
  height: 700px;
}
.Start_Button {
  color: white;
  font-size: 16px;
  margin-top: 54px;
}
.Body_In {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Text*/
.Text_Bold {
  font-weight: bold;
}
.Body_Text {
  height: 100%;
  padding: 200px 0px 0px 0px;
}
.Body_Text_1 {
  font-size: 28px;
  color: white;
  text-align: center;
  max-width: 1000px;
}
.Body_Text_2 {
  font-size: 16px;
  margin-top: 24px;
  margin-right: 104px;
  color: white;
  text-align: center;
  max-width: 870px;
}
.darkness {
  background-color: rgba(0, 0, 0, 0.54);
  height: 100%;
}
@media (max-width: 1400px) {
  .Header_Button {
    margin-left: 10px;
  }
}
